$box_shadow: 18px 18px 19px #225451,
    -18px -18px 19px #44aca5;

$document_body_backgroud_color: #33807b;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.button {
    &-out {
        width: 125;
        height: 125;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-item {
        box-shadow: 6px 6px 19px #225451, -6px -6px 19px #44aca5;
        width: 60;
        height: 60;
    }

    &-button {
        box-shadow: 6px 6px 19px #225451, -6px -6px 19px #44aca5;
        width: 100;
        height: 100;
    }

    &-icon {
        width: 70;
        height: 70;
    }
}

.circular-indeterminate {
    z-index: 10;
    height: 10;

    span {
        height: 40px;
        width: 40px;
        display: inline-block;
        color: antiquewhite;
        animation-duration: 1.4s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: circular-span;

        @keyframes circular-span {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        svg {
            display: block;
            color: antiquewhite;

            circle {
                stroke: currentColor;
                stroke-dasharray: 80px 200px;
                stroke-dashoffset: 0;
                animation-duration: 1.4s;
                animation-timing-function: ease-in-out;
                animation-delay: 0s;
                animation-iteration-count: infinite;
                animation-name: circular-span-svg-circle;

                @keyframes circular-span-svg-circle {
                    0% {
                        stroke-dasharray: 1px, 200px;
                        stroke-dashoffset: 0;
                    }

                    50% {
                        stroke-dasharray: 100px, 200px;
                        stroke-dashoffset: -15px;
                    }

                    100% {
                        stroke-dasharray: 100px, 200px;
                        stroke-dashoffset: -125px;
                    }
                }
            }
        }
    }
}

.cube-container {
    width: 750;
    height: 750;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    &-root {
        width: 200;
        height: 200;
        background: silver;
        border-radius: 20;
        display: flex;
        flex-wrap: wrap;
        background-color: silver;
        box-shadow: 10px 10px 10px #225451, -10px -10px 10px #44aca5;
    }

    &-container {
        justify-content: center;
        padding: 16;
    }

    &-item {
        background-color: silver;
        padding: 4;
    }

    &-button {
        position: absolute;
        height: 20;
        width: 20;
        margin-left: auto;
        margin-right: auto;
    }

    &-out {
        width: 250;
        height: 220;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.cubie {
    &-root {
        min-width: 1;
        min-height: 1;
        width: 48;
        height: 48;
        border-radius: 10;
        box-shadow: 2px 2px 6px #6d6d6d, -2px -2px 6px #ffffff;
    }
}

.layer {
    &-root {
        display: flex;
        width: 1900;
        flex-wrap: wrap;
        filter: blur(2px);
    }

    &-plane {
        display: flex;
        height: 750;
        width: 1000;
        flex-wrap: wrap;
        border-radius: 50;
        margin: 30;
        background: #33807b;
        box-shadow: $box_shadow;
    }

    &-cube {
        height: 750;
        width: 750;
        border-radius: 50;
        margin: 30;
        background: silver;
        box-shadow: $box_shadow;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-button {
        height: 250;
        width: 250;
        border-radius: 50;
        margin: 30;
        background: #33807b;
        box-shadow: $box_shadow;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &-solution {
        height: 250;
        width: 1500;
        border-radius: 50;
        margin: 30;
        background: #33807b;
        box-shadow: $box_shadow;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.layer-2 {
    &-root {
        position: absolute;
        place-items: center;
        z-index: 2;
    }
}

.bar {
    &-root {
        height: 30;
        width: 120;
        display: flex;
        justify-content: center;
        background: silver;
        position: relative;
        bottom: -15;
        border-radius: 20;
        box-shadow: 2px 2px 2px #6d6d6d, -2px -2px 2px #44aca5;
    }

    &-icon-item {
        height: 30;
        width: 30;
        padding-bottom: 0;
    }

    &-button-item-l {
        height: 30;
        width: 30;
        padding-right: 20;
    }

    &-button-item-r {
        height: 30;
        width: 30;
        padding-left: 20;
    }
}

.sol {
    &-root {
        width: 1400;
        height: 220;
        display: flex;
        align-items: center;
    }

    &-inner {
        height: 200;
        display: flex;
        align-items: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-line {
        width: 1200;
        height: 100;
        display: flex;
        align-items: center;
    }

    &-text {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.step {
    &-up {
        width: 50;
        height: 30;
        border-radius: 8;
        background-color: $document_body_backgroud_color;
        margin: 5;
        border: 0;
        box-shadow: 4px 4px 8px #143331, -4px -4px 8px #52cdc5;
    }

    &-down {
        width: 50;
        height: 30;
        border-radius: 8;
        background-color: $document_body_backgroud_color;
        margin: 5;
        border: 0;
        box-shadow: inset 4px 4px 8px #143331, inset -4px -4px 8px #52cdc5;
    }
}

.webgpu-cube-container {
    text-align: center;
    position: relative;
    margin-top: 10px;
}